<% layout('layouts/boilerplate.ejs') %>
<div class="alert alert-danger" role="alert">
  <div class="alert-heading"><%= message %></div>
  <p>Status Code: <%= statusCode %></p>
  <p><%= err.stack %></p>
</div>